/*background: rgb(76, 41, 189);
background: rgb(76, 41, 189);
background: linear-gradient(166deg, rgba(76, 41, 189, 1) 0%, rgba(63, 94, 251, 1) 56%, rgba(181, 77, 159, 1) 94%, rgba(237, 72, 106, 1) 100%);
background: rgb(5, 42, 42);
background: linear-gradient(175deg, rgba(5, 42, 42, 1) 0%, rgba(15, 94, 82, 1) 10%, rgba(37, 138, 116, 1) 19%, rgba(78, 192, 165, 1) 33%, rgba(253, 187, 45, 1) 100%);
;
*/

background: rgb(63, 94, 251);
background: linear-gradient(167deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
*/